html{
	box-sizing:border-box;
}

*,*::before,*::after{
	box-sizing:border-inherit;
}

body{
margin:0;
font-family:'Open Sans',sans-serif;	
font-weight:400;
color:white;
padding:0;

}
h1,h2,h3{
	margin:0px;
	padding:0;
}
ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
a{
text-decoration:none;
cursor:pointer;
margin:0;
}
p{
margin:0;	
padding:0;
}
img{
max-width:100%;	
padding:0;
margin:0;
}
.btn-reset{
	padding:0;
	border:0;
	background-color:transparent;
	cursor:pointer;
}
.container{
	max-width:1200px;
	margin:0 auto;
	padding:0 15px;
}

.header{
	background:url(img2/Mysites/intro.jpg);	
background-repeat:no-repeat;
background-size:cover;
height:100vh;
width:100%;
}

.header_menu{
	padding-top:50px;
	display:flex;
	align-items:center;
}
.phone-holder{
	display:flex;
	align-items:center;
	margin-right:50px;
}

.header_logo{
margin-right:auto;	
}
.logo-img {

  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
} 
.logo-img:hover{
	 border-radius: 50%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.nav_link{
	display:inline-block;
	font-weight: 700;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
}

.nav_link:hover{
text-decoration:underline;
color:#D3D3D3;	
}

.nav_link:not(:last-child){
	margin-right:23px;
}
.nav_link:last-child{
	margin-right:35px;
}

.cart{
border-right:2px solid #fff;
margin-right:35px;	
height:51px;
position:relative;
padding-right:35px;
}

.cart-img{
position:absolute;	
top:16px;
right:10px;
}
.phone-img{
padding-right:10px;	
}
.number a{
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;	
}

.btn{
display:inline-block;	
font-weight: 700;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
padding:14px 20px;
background: #FF7400;
}

.btn:hover{
background: rgba(0,0,0,0);
  color: #F4A460;
  box-shadow: inset 0 0 0 3px #F4A460;	
}

.header_down{
	padding-top:200px;
	display:flex;
	align-items:start;
	justify-content:center;
	flex-direction:column;
	max-width:550px;
}

.header-title{
	text-align:center;

}
.title-small{
	font-weight: 400;
font-size: 50px;
line-height: 57px;
color: #D67E35;

}
.title-big{
font-weight: 400;
font-size: 80px;
line-height: 92px;
color: #D67E35;	
}
.header-subtitle{
font-weight: 400;
font-size: 18px;
line-height:25px;
color: #FFFFFF;
align-self:center;
position:relative;
margin-bottom:21px;
}

.header-subtitle::before{
content:'';
width:60px;
height:2px;
background:#fff;	
position:absolute;
top:50%;
left:-40%;
}

.header-subtitle::after{
content:'';
width:60px;
height:2px;
background:#fff;	
position:absolute;
top:50%;
right:-40%;
}
.btn_down{
align-self:center;
display:inline-block;
margin-bottom:245px;
}

.advant{
	display:flex;
	justify-content:center;
	margin-top:-130px;
}
.advant_item{
	text-align:center;
	width:33.33333%;
	background: #FFFFFF;
box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
max-width:350px;
min-height:328px;
}

.advant_item:not(:last-child){
	margin-right:31px;
}
.advant-img{
padding-top:35px;
margin-bottom:;	
}

.advant_title{
font-weight: 400;
font-size: 26px;
line-height: 30px;
color: #2C2C2C;	
margin-bottom:20px;
}

.advant_title span{
color:#BC9060;;	
}
.advant-text{
font-weight: 400;
font-size: 26px;
line-height: 30px;
text-align: center;
color: #656363;	
}


.history-block{
padding-top:166px;	
display:flex;
justify-content:space-between;

}
.history{
	max-width:444px;
	
}
.history_title{
font-weight: 400;
font-size: 54px;
line-height: 62px;
color: #000000;	
margin-bottom:21px;
text-align:center;

}
.history_title span{
color:#D67E35;;	
}

.history_subtitle{
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #656363;	
text-align:center;
margin-bottom:39px;
padding:0 10px;
}

.history-number{
display:flex;
justify-content:center;	
padding-bottom:186px;
}

.history-item{
	font-weight: 400;
font-size: 40px;
line-height: 54px;
text-align: center;
color: #BC9060
}
.history-item:not(:last-child){
	margin-right:60px;
}
.history-item span{
display:block;
font-weight: 400;
font-size: 20px;
line-height: 27px;
text-align: center;
color: #000000;	
}


.history-image{
position:relative;	
width:100%;
}

.history-img-1{
position:absolute;
top:54px;
left:186px;	
z-index:0;
}

.history-img-2{
position:absolute;
top:-74px;
left:380px;	
z-index:0;
}
.history-img-3{
position:absolute;
top:160px;
left:489px;	
z-index:0;
}



.delicious{
background-image:url(img2/Mysites/delicious.jpg);	
background-repeat:no-repeat;
background-size:cover;
padding:80px 0;
}

.delicious-text{
	
}
.delicious-block{
display:flex;
justify-content:space-between;	
align-items:center;
}
.delicious_title{
font-weight: 400;
font-size: 52px;
line-height: 60px;
color: #D67E34;	
margin-bottom:20px;
}
.delicious_subtitle{
font-weight: 700;
font-size: 24px;
line-height: 33px;
color: #FFFFFF;	
}



.pizza_title{
padding-top:132px;
font-weight: 400;
font-size: 54px;
line-height: 62px;
color: #000000;	
text-align:center;
margin-bottom:140px;
}
.pizza_title span{
color:#D67E34;	
}

.pizza{
display:flex;
	margin-bottom:152px;
}
.big-img{
	margin-right:30px;
}
.pizza-item{
display:flex;
align-items:center;	
margin-bottom:29px;
}
.hamburger_price{
font-weight: 400;
font-size: 26px;
line-height: 30px;
color: #000000;	
}
.pizza-small{
margin-right:30px;	
}



.section-menu{
background:url(img2/Mysites/bar.jpg);	
background-size:cover;
background-repeat:no-repeat;

}


.menu{
display:flex;
padding-bottom:226px;
justify-content:space-between;
}
.menu-title{
font-family: 'Tinos';
font-style: normal;
font-weight: 400;
font-size: 54px;
line-height: 62px;
color: #FFFFFF;
text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);	
text-align:center;
padding-bottom:138px;
padding-top:98px;
}

.menu-item{
background: #FFFFFF;
max-width:350px;	
width:33%;
text-align:center;
position:relative;
	
}

.menu-img{
position:relative;
padding-top:80px;
margin-bottom:16px;
}
.maksi-img{
border-radius:50%;
width: 225px;
height: 225px;	
}

.maksi-price{
position:absolute;
font-weight: 400;
font-size: 22px;
line-height: 33px;
color: #FFFFFF;	
background: #D67E34;
border: 7px solid #FFFFFF;
border-radius:150%;
margin:0;
padding:30px;
top:220px;
right:35px;
}

.maksi_title{
font-family: 'Tinos';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 30px;
color: #000000;
margin-bottom:17px;
}

.maksi_subtitle{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #000000;	
margin-bottom:20px;
max-width:220px;
display:inline-block;
}

.btn-maksi{
display:inline-block;
padding:14px 68px;	
background: #D67E34;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
margin-bottom:29px;
font-weight: 700;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
}

.btn-maksi:hover{
background: rgba(0,0,0,0);
  color: #F4A460;
  box-shadow: inset 0 0 0 3px #F4A460;	
}

.recomended{
font-weight: 400;
font-size: 13px;
line-height: 18px;
color: #000000;	
padding:7px 11px;
background: #D67E34;
display:inline-block;
padding-right:auto;
position:absolute;
top:0;
left:0;
}

.reviews-section{
background: #E6E5E5;	
}
.reviews-content{
text-align:center;	
}

.reviews_title{
font-weight: 400;
font-size: 20px;
line-height: 27px;
text-align: center;
color: #000000;	
padding-top:104px;
margin-bottom:75px;
font-style: italic;
}

.reviews-img{
text-align:center;
margin-bottom:17px;
}

.reviews-img img{
	border-radius:50%;
}

.reviews-pos{
	font-weight: 600;
font-size: 20px;
line-height: 27px;
color: #000000;
margin-bottom:10px;
}
.reviews-nik{
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #000000;
padding-bottom:139px;
	
}


.gallery-content{
margin-bottom:0;	
}
.gallery-title{
	font-family: 'Tinos';
font-style: normal;
font-weight: 400;
font-size: 54px;
line-height: 62px;
color: #000000;
padding-top:120px;
margin-bottom:70px;
text-align:center;
}
.gallery-title span{
color: #D67E34;	
}

.gallery-up{
margin-bottom:30px;	
}
.gallery-up img,.gallery-down img{
	 transition: all 0.2s linear;
}
.gallery-up img:hover,.gallery-down img:hover{
 transform: scale(1.1);	
}

.gallery-content img:not(:last-child){
margin-right:30px;	
}

.gallery-workers{
		font-family: 'Tinos';
font-style: normal;
font-weight: 400;
font-size: 54px;
line-height: 62px;
color: #000000;
padding-top:120px;
margin-bottom:107px;
text-align:center;
}
.gallery-workers span{
color: #D67E34;	
}
.gallery-cook{
margin-bottom:100px;	
}

.gallery-cook img:not(:last-child){
margin-right:30px;	
}

.restaurant{
background:url(img2/Mysites/restaurant.jpg);	
min-height:1604px;
background-repeat:no-repeat;
background-size:cover;
}

